body{
	background-color: white;
	text-align: center;
	margin: 0;
}
nav{
	background-color: #00A6B3;
	color: #FFFFFF;
	text-align: center;
	font-size: 30px;
	padding: 20px 0 20px 0;
}
h1{
	font-family: "Raleway", monospace;
	margin: 0;
	color: #FFFFFF;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 45px;
	text-align: center;
	text-transform: uppercase;
}
a{
	font-family: "Raleway", sans-serif;
	color: #FFFFFF;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 18px;
	text-decoration: none;
	margin: 0px 20px 0px 20px;
	border-bottom: 2px solid transparent;
}
a:hover{
	border-color: white;
}
h2{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
}
p{
	font-family: "Open Sans Condensed", monospace;
	line-height: 26px;
	letter-spacing: -1.5 px;
	font-size: 18px;
}
.copyright{
	font-family: "Raleway", sans-serif;
	float: left;
}
.message{
	font-family: "Raleway", sans-serif;
	float: right;	
}
.attempts{
	vertical-align: top;
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	float: left;
}
.score{
	font-family: "Raleway", sans-serif;
	text-transform: uppercase;
	color: #0D2C40;
	letter-spacing: 1px;
	font-weight: 600;
	font-size: 20px;
	float: right;
}
header{
	background-color: #F15B31;
	color: #FFFFFF;
	padding: 30px 20px 30px 20px;
}
main{
	width: 850px;
	margin: 35px auto 35px auto;

}
img{
	margin: 40px 8px;
}
.heart{
	margin: auto;
	vertical-align: middle;
}
footer{
	text-transform: uppercase;
	color: white;
	font-size: 14px;
	letter-spacing: .08em;
	font-weight: 500;
	padding: 20px 0;
	background-color: #0d2c40;

}
.clearfix:after {
visibility: hidden;
display: block;
content: " ";
clear: both;
height: 0;
font-size: 0;
}
span{

}
.name{
	color: #F15b31;
	font-weight: 700;
}